.reg-form{
  max-width:420px;
  width: 100%;
}

.reg-form h1{
  text-align:center;
  margin-bottom:30px;
  font-size:28px;
}

.reg-form form{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.row{
  display:flex;
  gap:16px;
}

.field{
  display:flex;
  flex-direction:column;
  flex:1;
}

.field label{
  margin-bottom:6px;
  font-size:14px;
}

input{
  padding:12px;
  border-radius:8px;
  border:none;
  background:#d9d9d9;
}

button{
  margin-top:10px;
  padding:14px;
  border-radius:8px;
  border:none;
  background:#1d3470;
  color:white;
  font-size:16px;
  cursor:pointer;
}
.error{
  color:red;
  font-size:12px;
  margin-top: 5px;
}