.users-page {
  padding: 2rem;
}

.filter-buttons {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.5rem;
  /*transform: translate(40rem, 11.5rem);*/
}

.filter-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  background: #1b345d;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.filter-buttons button:hover {
  background: #b4cbee;
}

.filter-buttons button.active {
  background: #b4cbee;
  color: white;
}

.filter-buttons button.reset {
  background: #ef4444;
  color: white;
}